body{
    background-color: khaki
}
h1{
    font-family: 'Cinzel', serif;
    color: lightseagreen;
}
p1{
    font-family: 'Indie Flower', cursive;
    color: rgb(4, 67, 109);
}
h2{
    font-family: 'Neonderthaw', cursive;
    color: cornflowerblue;
}